{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier", "react-hooks"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/prop-types": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": [2, {
            "ignore": ["electron"]
        }],
        "react/prefer-stateless-function": 0,
        "no-console": 0,
        "no-unused-vars": [2, {
            "args": "all",
            "argsIgnorePattern": "^_"
        }],
        "no-param-reassign": 0
    }
}