{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "proseWrap": "always",
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true
}
