global
    log 127.0.0.1    local0
    log 127.0.0.1    local1 notice
    maxconn 4096
    daemon
    stats socket /var/run/haproxy.sock mode 600 level admin
    debug

defaults
    log    global
    mode    http
    option    httplog
    option    dontlognull
    retries    3
    option redispatch
    maxconn    2000
    timeout connect 500000ms
    timeout client 500000ms
    timeout server 500000ms
    option forwardfor

    stats enable
    stats uri /haproxy?stats

frontend http-in
    bind *:80

    use_backend backend if { path_beg /api }
    use_backend backend if { path_beg /socket.io }

    default_backend frontend

backend frontend
    balance leastconn
    option forwardfor
    server srv1 10.0.2.2:5000 cookie A check
    server srv2 frontend:5000 cookie A check backup

backend backend
    balance leastconn
    option forwardfor
    server srv1 10.0.2.2:3000 cookie A check
    server srv2 backend:3000 cookie A check backup
