{
    "presets": [
        "@babel/typescript",
        [
            "@babel/env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/transform-async-to-generator"
    ]
}